<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<p>"Welcome to HangMan 2017!"<p>
		<p>Guess the word</p>
	<form action="/guess">
		<input type="text" name="input">
		<input type="submit" name="guess" value="Guess" >
	</form>
	<form action="/new" method="GET">
		<input type="submit" name="new" value="New" >
	</form>

	<h1>
	<% if @word_display_array %>
	<% @word_display_array.each do |item| %>
	<%= item + "\s" %>
	<% end -%>
	<% end %>
	</h1>

	<% if @count == 0 %>
		<h1>Game over. Guess a new word.</h1>
	<% else %>
		<h1>You have <%= "#{session[:count]}" %> chances left.</h1>
	<% end -%>
	<% if session[:win] %>
		<h1>You did it!</h1>
	<% end -%>
</body>
</html>